/* Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, h5, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Audiowide', sans-serif;
}
// to hide chrome scrollbar
::-webkit-scrollbar {
    display: none;
}

// adding this, fixed the whitespace for mobile view
html,body
{
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 568px;
}

body {
  margin: 0;
  overflow: hidden;
  // overflow-x: hidden;
  // overflow-y: scroll;
}

canvas {
  position: absolute;
  z-index: 99;
}

.nav-bar {
  position: absolute;
  z-index: 100;
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.search-bar {
  background-color: #f0f0f0;
  width: 64%;
  height: 60px;
  .search-bar-input {
    height: 60px;
    width: 98%;
    font-family: 'Audiowide';
    font-size: 20px;
    color: #ee1515;
    overflow: hidden;
    padding-left: 30px;
  }
}

.header-right {
  // height: 35px;
  width: 46%;
  display: flex;
  flex-direction: row;
}

.button {
  font-family: "Audiowide";
  text-align: center;
  border-left: 2px solid #222224;
  height: 60px;
  width: 33.33%;
  cursor: pointer;
}

.next, .back {
  background-color: #f0f0f0;
  color: #ee1515;
  font-size: 1.5em;
  &:hover {
    background-color: #ee1515;
    color: #f0f0f0;
  }
}

.save, .random {
  background-color: #f0f0f0;
  color: #ee1515;
  font-size: 1.5em;
  &:hover {
    background-color: #ee1515;
    color: #f0f0f0;
  }
}

.palette {
  position: relative;
  z-index: 5;
  p {
    font-family: "Audiowide";
    position: absolute;
    z-index: 101;
  }
  .pokemon-name {
    font-size: 13vw;
    top: 8vh;
    left: 5vw;
    text-shadow: -1px 0 black, 0 2px black, 4px 0 black, 0 -1px black;
  }
  .main-hexcode {
    font-size: 28px;
    top: 69vh;
    right: 8vw;
  }
  h1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: yellow;
  }
}

.palette-slab {
  z-index: 100;
  position: absolute;
  top: 75vh;
  left: 5vw;
  width: 90vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  div {
    position: relative;
    h3 {
      width: 10vw;
      height: 10vw;
      background-color: #BEA3C4;
    }
    span {
      width: 9vw;
      height: 16px;
      text-align: center;
      position: absolute;
      bottom: -20px;
      font-size: 16px;
      font-family: "Audiowide";
    }
  }
}

.overlay {
  display: none; // give body a class of modal-active
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 119;
  background-color: rgba(63,56,68,0.875);
  -webkit-animation: fadeIn 0.375s;
  -moz-animation: fadeIn 0.375s;
  -ms-animation: fadeIn 0.375s;
  -o-animation: fadeIn 0.375s;
  animation: fadeIn 0.375s;
}

.modal-container {
  // display: none;
  position: fixed;
  top: -150%; // for transitions
  z-index: 120; // uncomment to test
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  transition: top 0.375s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: top 0.375s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: top 0.375s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: top 0.375s cubic-bezier(0.4, 0, 0.2, 1);
}

.open {
  .modal-container {
    // display: block;
    top: 0;
  }
  .overlay {
    display: block;
  }
}

.modal-content {
  position: relative;
  width: 84%;
  max-width: 63em;
  margin: 3em auto;
  padding: 0.75em 0.75em 2.25em;
  border-radius: 3px;
  background-color: white;
  .close {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 24px; // might need to fix
    color: #c3c3c3;
    font-size: 2.25em;
  }
  .export {
    margin: 6px 12px 8px;
  }
  h2 {
    margin: 12px 12px 22px;
    font-size: 36px;
  }
  &:after {
    clear: both;
  }
}

.modal-content:before, .modal-content:after {
  content: " ";
  display: table;
}

h5 {
  color: #c3c3c3;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-size: 0.875rem;
}

.modal-palette {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0.75em;
  max-width: 75em;
  margin: 0 auto;
  div {
    position: relative;
    width: 10%;
    height: 8vh;
  }
}

.modal-code {
  width: calc(50% - 1.5em);
  position: relative;
  padding: 0.75em;
  float: left;
  div {
    padding: 0.75em;
    border-radius: 3px;
    border: 1px solid #eaeaea;
  }
  h5 {
    margin-bottom: 0.75em;
  }
  span {
    letter-spacing: 0.0375em;
    line-height: 1.4;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
    color: #c3c3c3;
    display: block;
  }
}

@media (min-width: 1075px) {
  .palette .pokemon-name {
    font-size: 143px;
  }
}

@media (min-width: 1025px) {
  .modal-code {
    width: calc((100% / 3) - 1.5em);
  }
}

@media (max-width: 900px) {
  .palette-slab {
    span {
    display: none;
    }
    div:hover span {
      display: block;
    }
  }
}

@media (max-width: 760px) {
  .palette-slab {
    div:last-of-type span {
      right: 37px;
    }
  }
}

@media (max-width: 525px) {
  .modal-code {
    width: calc(100% - 1.5em);
  }
}

// iPhone 6 plus (415px)
@media (max-width: 475px) {
  .palette {
    .pokemon-name {
      top: 14vh;
      left: 8vw;
    }
    .main-hexcode {
      top: 70vh;
      font-size: 25px;
    }
  }

  .search-bar {
    height: 60px;
    width: 85%;
    .search-bar-input {
      height: 60px;
      font-size: 28px;
      padding-left: 15px;
    }
  }

  .button {
    display: none;
    top: 65px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    border-left: 0px;
    border-right: 1px solid #222224;
  }

  .save {
    right: 145px;
  }

  .back {
    right: 100px;
  }

  .random {
    right: 55px;
  }

  .next {
    right: 10px;
  }

  .header-right {
    height: 60px;
    width: 15%;
  }

  .button-menu {
    position: relative;
    top: 26px;
    left: 26%;
    width: 30px;
    height: 6px;
    background-color: #ee1515;
    transition: transform 0.5s;
    &:before {
      display: block;
      width: 30px;
      height: 6px;
      background: #ee1515;
      content: "";
      position: absolute;
      top: -12px;
      transition: transform 0.2s;
    }
    &:after {
      display: block;
      width: 30px;
      height: 6px;
      background: #ee1515;
      content: "";
      position: absolute;
      top: 12px;
      transition: transform 0.2s;
    }
  }

  .open {
    .button {
      display: inline-block;
    }
    .button-menu {
      background-color: #f0f0f0;
    }
    .button-menu:before {
      transform: rotate(45deg);
      top: 0;
    }
    .button-menu:after {
      transform: rotate(-45deg);
      top: 0;
    }
  }
}

// iPhone 5
@media (max-width: 360px) {
  .search-bar .search-bar-input {
    font-size: 24px;
  }
  .palette .main-hexcode {
    font-size: 21px;
  }
  .button-menu {
    left: 18%;
  }
}

@media (max-height: 667px) {
  .palette-slab {
    top: 80vh;
  }
  .palette {
    .main-hexcode {
      top: 72vh;
    }
    .pokemon-name {
      top: 17vh;
    }
  }
}
