body {
  margin: 0;
  overflow: hidden;
}

.random-button {
  position: absolute;
  top: 10px;
  right: 100px;
  font-family: "Audiowide";
  font-size: 14px;
  background-color: #FFBFB3;
  height: 37px;
  width: 100px;
  z-index: 100;
  cursor: pointer;
}

.random-button:hover {
  background-color: #BEA3C4;
}

.random-pokemon {
  position: absolute;
  top: 10px;
  right: 210px;
  text-align: center;
  background-color: #BEA3C4;
  border: 1px solid black;
  height: 35px;
  width: 100px;
  z-index: 100;
  cursor: pointer;
}

.random-pokemon:hover {
  background-color: #FFBFB3;
}

.random-pokemon p {
  color: black;
  font-family: "Audiowide";
  font-size: 14px;
  padding: 9px;
  margin: 0 auto;
}
